*,
*before,
* after{
    padding : 0;
    margin : 0;
    box-sizing : border-box;

}

body{
    background-color: blue;

}
.container *{
    font-family: "Poppins",sans-serif ;
    border :none;
    outline :none;
    
}
.container{
    width: 40%;
    min-width:450px;
    border: 1px solid black;
    position: absolute;
    transform: translate(-50%,-50%);
    left : 50%;
    top : 50%;
    padding : 50px 30px;

}
.input-wrapper{
   background-color: black;
   padding:  30px 25px;
   border-radius: 8px ;
   /* box-shadow: ; */
   margin-bottom: 50px;

}

input,
button{
    height: 50px;
    background-color: azure;
    color: black;
    font-weight: 500;
    border-radius: 5px;
}

input{
    width: 60%;
    padding: 0 20px;
    font-size: 14px;

}
button {
    width :30%;
    float: right;
}
.outputs-wrapper{
    width :100%;
    display : flex;
    justify-content: space-between;

}
.outputs-wrapper div{
    height: 100px;
    width : 100px;
    background-color: black;
    border-radius: 5px;
    color:aliceblue;
    display: grid;
    place-items: center;
    padding: 30PX 0;

    /* box-shadow: ; */
}
span{
   font-size: 30px;
   font-weight: 500;
}
p{
    font-size: 14px;
    color: grey;
    font-weight: 400;
}